{% if include.tag %}
{% assign gallerie = site.gallerie | where_exp:"item", "item.id contains include.tag" %}
{% else %}
{% assign gallerie = site.gallerie %}
{% endif %}

<style>
  .gallery {
    padding: 0;
margin: 0;
list-style: none;
display: inline-flex;
flex-wrap: wrap;
  }
  .gallery li { font-size: .9rem; padding: 0.5rem}
  .gallery li img { float:none; height:10rem; margin: 0.0rem; }
  .gallery li div { width:14rem; }
</style>

<ul  class="gallery">
{% for bild in gallerie %}
<li>

<img src="{{ bild.path | replace_first: '_','/' | split: '.md' | join: '.md' }}.jpg" >

{% if bild.content %}
<div style="  ">
{{ bild.content }}
</div>
{% endif %}

</li>
{% endfor %}
</ul>
